<a href="https://colab.research.google.com/github/PrathibhaHL/FULLSTACK/blob/main/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#creating a dictionary
empdict={
    "name":"lochan",
    "id":"4647",
    "company":"wipro"
}
print(empdict["id"])
print(empdict.get("id"))

4647
4647

In [ ]:
#accessing the value
daily_temps={"sun":"68.8","mon":"70.2","tue":"67.2","wed":"71.2"}
value=daily_temps["sun"]
print(value)

68.8

In [ ]:
#changing the value
empdict={
    "name":"lochan",
    "id":"4647",
    "company":"wipro"
}
empdict["id"]="4438"
print(empdict["id"])

4438

In [ ]:
#loop to print key
empdict={
    "name":"lochan",
    "id":"4647",
    "company":"wipro"
}
for x in empdict:
  print(x)

name
id
company

In [ ]:
#loop to print values of key
empdict={
    "name":"lochan",
    "id":"4647",
    "company":"wipro"
}
for x in empdict:
  print(empdict[x])

lochan
4647
wipro

In [ ]:
#value() method
empdict={
    "name":"lochan",
    "id":"4647",
    "company":"wipro"
}
for x in empdict.values():
  print(x)

lochan
4647
wipro

In [ ]:
#items() method
empdict={
    "name":"lochan",
    "id":"4647",
    "company":"wipro"
}
for x,y in empdict.items():
  print(x,y)

name lochan
id 4647
company wipro

In [ ]:
#check if key exist
empdict={
    "name":"lochan",
    "id":"4647",
    "company":"wipro"
}
if "company" in empdict:
  print("Yes,company is one of the keys in empdict dictionary")

Yes,company is one of the keys in empdict dictionary

In [ ]:
#length
empdict={
    "name":"lochan",
    "id":"4647",
    "company":"wipro"
}
print(len(empdict))

3

In [ ]:
#adding a item
empdict={
    "name":"lochan",
    "id":"4647",
    "company":"wipro"
}
empdict["bloodgroup"]="B+"
print(empdict)

{'name': 'lochan', 'id': '4647', 'company': 'wipro', 'bloodgroup': 'B+'}

In [ ]:
#copy() constructor
empdict={
    "name":"lochan",
    "id":"4647",
    "company":"wipro"
}
e1=empdict.copy()
print(e1)

{'name': 'lochan', 'id': '4647', 'company': 'wipro'}

In [ ]:
#number as key and there squares as value
n=int(input("enter a number"))
d=dict()
for x in range(1,n+1):
  d[x]=x*x
  print(d)

enter a number6
{1: 1}
{1: 1, 2: 4}
{1: 1, 2: 4, 3: 9}
{1: 1, 2: 4, 3: 9, 4: 16}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [ ]:
#sum of all values
def returnSum(dict):
  for i in dict:
    list.append(dict[i])
    final=sum(list)
    return final
    dict={'a':100,'b':500,'c':200}
    print("Sum:",returnSum(dict))

In [ ]:
#add rollno and marks
n=int(input("enter n:"))
d={}
for i in range(n):
  roll_no=int(input("enter roll_no:"))
  name=input("enter name:")
  marks=int(input("enter marks:"))
  d[roll_no]=[name,marks]
  for k in d:
    if(d[k][1]>75):
      print(d[k][0])

enter n:1
enter roll_no:1
enter name:lochan
enter marks:70

In [ ]:
#number to word
def number_to_word(num):
  dict={1:'one',2:'two'}
  s=''
  for i in str(num):
    s+=dict[i]+""
    s=s[:-1]
    return s

In [ ]:
#
dict={'name':'mark'}
print(dict)

{'name': 'mark'}